<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>FLEET_ROOT</key>
		<string>__FLEET_ROOT__</string>
		<key>FLEET_TICK_MATERIALIZE</key>
		<string>dry-run</string>
		<key>FLEET_TICK_MAX</key>
		<string>1</string>
		<key>FLEET_TICK_NODES</key>
		<string>naphtali,asher</string>
		<key>FLEET_TICK_STORE</key>
		<string>file</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.gftd.fleet-tick</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/nbb</string>
		<string>__HOME__/.gftd/run-fleet-tick.cljs</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>__HOME__/.gftd/fleet-tick.stdout.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/.gftd/fleet-tick.stdout.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
