{:format :kotoba-kcm-policy/v1
 :target-abi :wasm32-wasi
 :effects []
 :capabilities #{:code/read :build/check :build/compile}
 :checks
 [{:id :check
   :args ["check" "main.kotoba"]
   :pure? true}]
 :builds
 [{:id :wasm
   :args ["compile" "main.kotoba" "--target" "wasm32-wasi"
          "--output" "main.wasm"]}]}
